In [73]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, MetaData, Table

In [74]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [75]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [76]:
#  Create a meta data object to hold the reflected table schema
metadata = MetaData()

In [77]:
# Create a table object for  the `invoices` and `invoice_items` tables
# use 'autoload' and 'autoload_with' to define the columns from the table. 
Measurement_table = Table('Measurement', metadata, autoload=True, autoload_with=engine)
Station_table = Table('Station', metadata, autoload=True, autoload_with=engine)

In [78]:
print(Measurement_table.columns.keys())
print(Station_table.columns.keys())

['id', 'station', 'date', 'prcp', 'tobs']
['id', 'station', 'name', 'latitude', 'longitude', 'elevation']

In [79]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [ ]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month', Measurement.date)=='06').group_by(Measurement.id).order_by(Measurement.date).all()

In [81]:
#  3. Convert the June temperatures to a list.
query = session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month', Measurement.date)=='06').group_by(Measurement.id).order_by(Measurement.date).all()
June_temperature_list = []
for index in query:
    June_temperature_list.append(index.tobs)

In [83]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
June_temperature_df = pd.DataFrame(June_temperature_list, columns=['June Temps'])

In [84]:
June_temperature_df

      June Temps
0           78.0
1           74.0
2           73.0
3           77.0
4           69.0
...          ...
1695        81.0
1696        74.0
1697        75.0
1698        76.0
1699        75.0

[1700 rows x 1 columns]

In [85]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
June_temperature_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month', Measurement.date)=='12').group_by(Measurement.id).order_by(Measurement.date).all()

In [87]:
# 7. Convert the December temperatures to a list.
query = session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).filter(extract('month', Measurement.date)=='12').group_by(Measurement.id).order_by(Measurement.date).all()
December_temperature_list = []
for index in query:
    December_temperature_list.append(index.tobs)

In [89]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
December_temperature_df = pd.DataFrame(December_temperature_list, columns=['December Temps'])

In [90]:
December_temperature_df

      December Temps
0               76.0
1               73.0
2               73.0
3               72.0
4               78.0
...              ...
1512            66.0
1513            71.0
1514            72.0
1515            67.0
1516            65.0

[1517 rows x 1 columns]

In [91]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
December_temperature_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000